body{
    height: 100vh;
    display: flex;
    background: linear-gradient(90deg, #000000 0.52%, rgba(0, 0, 0, 0.85) 43.56%, rgba(0, 0, 0, 0) 74.54%),
    url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}