footer{
    max-height: 80px;
    width: 100%;
    padding-bottom: 50px;
}

footer p{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    color: #fff;
}