@import url('https://fonts.googleapis.com/css2?family=Karla&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&family=Roboto:ital,wght@0,300;1,300&display=swap');

body{
    height: 100vh;
    background: linear-gradient(90deg, #000000 0.52%, rgba(0, 0, 0, 0.85) 43.56%, rgba(0, 0, 0, 0) 74.54%),
    url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

h4{
    font-size: 2.2rem;
    font-weight: 200;
}

header{
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 80px;
}

/*Menu Principal*/
.menu-principal{
    display: flex;
    gap: 40px;
}
.menu-principal a{
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 2px #000000;
    text-decoration: none;
    padding: 6px;
}
.menu-principal a:hover{
    background-color: #E62721;
    transition: all 1s;
    text-shadow: none;
}
/*Fim do Menu Principal*/


main{
    flex-grow: 1;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 128px;
}


#principal{
    width: 644px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
#principal-btn{
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: #E62721;
    border: none;
    padding: 25px;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
#principal-btn:hover{
    transition: background-color 1s;
    background-color: #A11F1E;
    text-shadow: 0px 0px 2px #fff;
}

/*Texto principal*/
#estranho{
    font-size: 6.4rem;
    font-weight: 500;
    white-space: nowrap;
    word-spacing: -0.7rem;
    line-height: 0.7;
}
#loucura{
    color: #E62721;
    font-size: 3.1rem;
    font-weight: 300;
    font-style: italic;
}
#sinopse{
    font-size: 1.2rem;
    font-weight: 300;
}
/*Fim do Texto Principal*/


.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    height: 100%;
}
.redes-sociais a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
    border: 2px solid#fff;
    border-radius: 46px;
    text-decoration: none;
    color: #fff;
}
.redes-sociais a:hover{
    transition: all 1s;
    background-color: #E62721;
    border-color: #E62721;
}

footer{
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    color: #fff;
}