:root{
    --cor-principal: #FF3131;
    --cor-secundaria: #fff;
    --text-color-dark: #000;
    --text-color-light: #FFF;
    --btn-principal-1: #FF3131;
    --btn-principal-2:  #FFF;
    --forms: #F3F3F3;
    --redes-sociais-1: #F3F3F3;
    --redes-sociais-2: #FF3131;
    --links-hover: #FF3131;
}